.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}